body{
background-color: black;
}

h1{
background: aquamarine;
padding-bottom: 5px;
padding-top: 5px;
margin: auto;
    
width: 300px;
border: 4px black solid;
display: flex;
justify-content: center;
    
}

ul{ 

display: flex;
flex: 1;
padding-left: 0px;

background: aquamarine;
width: 480px;
height: 300px;
margin: 250px auto 0 auto ;

justify-content: center;
}

li{
list-style:none;
flex: 1;
height: 297px;
line-height: 297px;
text-align: center;
background-color: aquamarine;
border: 3px orange solid;
    
    
    
}