body{
background-color: black;
}

h1{
background: aquamarine;
padding-bottom: 5px;
padding-top: 5px;
margin: auto;
    
width: 300px;
border: 4px black solid;
display: flex;
justify-content: center;
    
}

ul{ 

display: flex;
flex-direction: column;
flex: 1 1 auto;
padding-left: 0px;

background: aquamarine;
width: 480px;

margin: 50px auto 0 auto ;

justify-content: center;
}

li{
list-style:inside circle;

flex: 1;
height: 200px;
line-height: 200px;
text-align: center;
background-color: aquamarine;
border: 3px orange solid;
    
    
    
}